**/bin/
**/obj/
.vs/
.idea/
artifacts/
node_modules/
test-results/
playwright-report/
**/Assets/Fonts/*.ttf
*.user
*.suo
.DS_Store

**/PdfSecurity/qpdf.js
**/PdfSecurity/qpdf.wasm

**/PdfSecurity/*LICENSE*
**/PdfSecurity/*NOTICE*
**/PdfSecurity/*README*
**/PdfSecurity/*package.json
**/PdfSecurity/runtime-manifest.json

**/__pycache__/
